<ion-view title="add trigger" id="page6">
  <ion-content padding="true" class="has-header">
    <button id="addTrigger-button11" class="button button-positive  button-block icon ion-android-locate" ng-click="getCurLocation()"> Get Current Location</button>
    <div id="addTrigger-container6" class="creator-container" ng-show="showLocation">{{clocFormattedAddress}}</div>
    <form id="addTrigger-form14" class="list">
      <label class="item item-input" id="addTrigger-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Type and address" ng-keypress="autoComp($event)" ng-model="searchEntry">
      </label>
    </form>
    <div id="results" class="creator-container" >Results go here</div>

    <button id="addTrigger-button13" class="button button-positive  button-block icon ion-android-locate" ng-click="getPlace()">Ok...</button>
    <div id="map" class="creator-container"  data-tap-disabled="true">

    </div>
  </ion-content>
</ion-view>
