<ion-view title="Beers" >
  <ion-content padding="true" class="has-header">
    <div id="beers-container2">
      <ion-list ng-controller="beersCtrl"
                can-swipe="listCanSwipe">
        <ion-item ng-repeat="beer in beers" class="ïtem-thumbnail-left">
          <div ng-if="beer.loved == true">
            <img src="../img/love-my-beer1.png" >
          </div>
          <div ng-if="beer.loved == false">
            <img src="../img/No_Alcohol.gif"  >
          </div>
          <p>Name:{{beer.name}}
            <span>Description: {{beer.description}}</span>
            <span>Alcohol Content:{{beer.alcohol_content}}</span>
            <span>IBU:{{beer.ibu}}</span>
         </p>

          <ion-option-button class="button-positive"
                             ng-click="addToCollection(beer)">
            Add this to my collection
          </ion-option-button>

        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>

